/*Color, fonts, sizes*/

h1 {
 font-size: 32px;
 color: #ad1212;
 font-family: "Montserrat", sans-serif;
 font-weight: 700;
}

h2, h3 {
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  background-color:#ad1212 ;
  color: white;
}

body {
  background-color: #F5F4F1;
  color: #333333;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 10;
  text-align: center;
}

p {
  font-style: italic;
}

img {
  max-width: 30%;
  margin-bottom: 30px;
}

.video-container {
    max-width: 100%; /* Pour s'adapter à la largeur du conteneur parent */
    height: auto; /* Hauteur fixe, en conservant le rapport d'aspect 16:9 */
    text-align: center;
    margin: 20px;

}

.video-container video {
    max-width: 100%; /* Pour limiter la largeur de la vidéo */
    height: auto; /* Pour conserver le ratio hauteur/largeur */
    margin: 0 auto;
    display: block;
}

.video-upload input[type="file"] {
    display: block; /* Assure que la vidéo est sur une nouvelle ligne */
    margin: 0 auto; /* Centre la vidéo horizontalement */
    padding-bottom: 20px;
}

/*Custom designs*/


}
#intro-text {
  padding-top: 30px;
}

.card-shadow {
  background: white;
  padding: 20px;
  padding-top: 15px;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  width: 700px;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

#div-container {
  background-color:#fdf2f2 ;
  padding: 30px;
  border-radius: 4px;
  width: 900px;
  margin:auto;
}


.d-block {
  width: 30%;
  height:1.5%;
}






